@page
@model Restaurants.DetailModel
@{
}
<div class="container-fluid">
	@*<div class="form-group">
		<label class="label-control">
			Founded In:
		</label>
		<label class="label-control">
			@Model.Restaurant.Detail.Founded
		</label>
	</div>
	<div class="form-group">
		<label class="label-control">
			About Us:
		</label>
		<label class="label-control">
			@Model.Restaurant.Detail.AboutUs
		</label>
	</div>
	<div class="form-group">
		<label class="label-control">
			Signature Falvour:
		</label>
		<label class="label-control">
			@Model.Restaurant.Detail.SignatureFlavour
		</label>
	</div>*@
</div>